/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/1
/public/audio
/public/audiorecord
/public/default
/public/directreport
/public/global_assets
/public/public
/public/socket.io
/public/templatechat
/public/test
/public/tmp
/public/tr
/public/user_upload
/public/vendor
/public/xxx
/formio

# Project exclude paths
/storage/