/** Created by TTF.in.ua **/
@font-face {
    font-family: 'ProximaNova-Regula';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Regular.woff') format('woff'),
         url('ProximaNova-Regular.ttf') format('truetype'),
         url('ProximaNova-Regular.svg#ProximaNova-Regula') format('svg');
    font-weight: normal;
    font-style: normal;
}