/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Avanti-Regular';
    src: url('Avanti-Regular.eot');
    src: url('Avanti-Regular.eot?#iefix') format('embedded-opentype'),
         url('Avanti-Regular.woff') format('woff'),
         url('Avanti-Regular.ttf') format('truetype'),
         url('Avanti-Regular.svg#Avanti-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}