@font-face {
    font-family: 'Stark';
    src: local('Stark'), url('stark.woff2') format('woff2'), url('stark.woff') format('woff'), url('stark.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
