@font-face {
    font-family: 'Kazmann Sans';
    src: local('Kazmann Sans'), local('Kazmann-Sans'), url('Kazmannsans.woff2') format('woff2'), url('Kazmannsans.woff') format('woff'), url('Kazmannsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
