@font-face {
    font-family: 'Airborne';
    src: local('Airborne'), url('airborne.woff2') format('woff2'), url('airborne.woff') format('woff'), url('airborne.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
